:root {
  --bjien-green: #1cb1ae;
  --bjien-red: #c4151f;
}

.bg-bjien {
  background-color: var(--bjien-green);
}

.hover-bg-bjien-green:hover, .hover-bg-bjien-green:focus {
  background-color: var(--bjien-green);
}

.bjien-red {
  color: var(--bjien-red);
}

.brr {
  border-radius: 50%;
}

.logo-animation {
  transition: transform .2s linear;
  transform-origin: 28% 50%;
}

.logo-animation:hover {
  transform: rotate(-2deg);
}

hr {
  height: 2px;
  border-width: 0;
  color: var(--bjien-green);
  background-color: var(--bjien-green);
  margin: 3em 5em;
}

nav svg {
  fill: var(--bjien-red);
}

footer svg {
  fill: white;
}

.bjien-border-outer-top {
  border-top: .25rem solid var(--bjien-red);
}

.bjien-border-inner-top {
  border-top: .125rem solid white;
}

.pagination {
  margin: 0;
  padding: 1.5rem 0 0 0;
  text-align: center;
}

.pagination li {
  margin-left: .5rem;
  margin-right: .5rem;
  font-size: 1rem;
}

.nested-copy-line-height li {
  margin-bottom: 1em;
}

.mw-bjien {
  max-width: 75rem;
}

.h-meta {
  height: 4em;
}

.lh-meta {
  line-height: 2em;
}

.tracked-meta {
  letter-spacing: .05em;
}

.h-summary-meta {
  height: 2.5rem;
}

.lh-summary-meta {
  line-height: 2.5rem;
}
