:root {
    --bjien-green: #1cb1ae;
    --bjien-red: #c4151f;
}

.bg-bjien {
    background-color: var(--bjien-green);
}

.bjien-red {
    color: var(--bjien-red);
}

.bw25 {
    border-width: 6px;
    border-width: .375rem;
}

.b--bjien {
    border-color: var(--bjien-red);
}

nav svg {
    fill: var(--bjien-red);
}

footer svg {
    fill: white;
}
